{% extends 'base.html' %}
{% block title %}Просмотр билетов{% endblock %}
{% block content %}
    <div class="about__main-information responsive-container">
        <h2>Наша цель</h2>
        <p>Star Bus стремится предоставить своим клиентам простой и удобный сервис для поиска и покупки дешевых
            билетов на автобусы. В режиме онлайн наши клиенты могут просмотреть все доступные варианты поездки и
            легко оплатить билет банковской картой или наличными в кассах партнеров.</p>

        <div class="about__main-row row">
            <div class="col-12">
                <h2>Наша История</h2>
                <p>Наш сервис по продаже билетов на рейсовые автобусы начал свою историю несколько лет назад. Мы
                    заметили,
                    что на рынке не хватает удобных и надежных сервисов, которые бы предоставляли клиентам
                    возможность легко
                    и быстро купить билеты на автобусы, не выходя из дома.</p>
            </div>
            <div class="col-12">
                <p>Мы собрали команду профессионалов, которые имели многолетний опыт работы в индустрии транспорта,
                    и
                    начали разработку нашего сервиса. Наша цель была создать платформу, которая была бы максимально
                    удобной
                    и простой в использовании, а также предоставляла бы нашим клиентам широкий выбор рейсов и
                    маршрутов.</p>
            </div>
            <div class="col-12">
                <p>Мы начали с небольшого количества партнеров, но со временем наша сеть расширилась, и мы начали
                    сотрудничать с крупными автобусными компаниями по всей стране. Мы тщательно отбирали партнеров,
                    чтобы
                    гарантировать, что наши клиенты получают только высококачественный сервис и безопасные
                    путешествия.</p>
            </div>
            <div class="col-12">
                <p>Мы продолжаем работать над улучшением нашей платформы и расширением нашей сети партнеров,
                    чтобы наши клиенты могли получить наилучший сервис и самый лучший выбор билетов на автобусы. Мы
                    гордимся
                    тем, что наш сервис помогает людям путешествовать по стране без забот и проблем, и мы будем
                    продолжать
                    работать над улучшением нашей платформы, чтобы наши клиенты всегда были удовлетворены нашим
                    сервисом.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h2>Наши цены</h2>
                <p>Цены на билеты, в большинстве случаев, установлены самими перевозчиками. Star Bus всегда
                    стремится
                    предоставить своим клиентам минимальную стоимость билетов по цене, как на автовокзале. В
                    результатах поиска отображаются автобусные рейсы в различных ценовых категориях, среди которых
                    наши клиенты могут выбрать наиболее дешевый билет на автобус.</p></div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h2>Наш сервис</h2>
                <p>Star bus не является перевозчиком, но мы прилагаем все усилия, чтобы обеспечить максимальное
                    удобство в пути и уважение для всех наших клиентов. Мы стараемся взаимодействовать с
                    перевозчиками по вопросам качества обслуживания и пунктуальности, а также боремся за комфортное
                    путешествие для каждого нашего клиента.</p></div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h2>Миссия Star Bus</h2>
                <p>Мы хотим изменить рынок автобусных перевозок и привести его к лучшим мировым стандартам качества
                    обслуживания пассажиров.</p></div>
        </div>
    </div>
{% endblock %}